/*作成者ナカムラ*/

@charset "UTF-8";

/* フォーム */
.login-form {
	margin: 0 auto;
    width: 320px;
    background: #D9D9D9;
    border-radius: 6px;
    padding: 20px;
}

/* 入力 */
.input-field {
    margin-bottom: 20px;
}

.label {
    font-size: 16px;
    color: #1E1E1E;
    display: block;
    margin-bottom: 8px;
}

.input {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* ボタン */
.button-wrapper {
    text-align: center;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #2C2C2C;
    color: #F5F5F5;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #444444;
}


.register-link-button {
	display: block;
    width: 100%;
    padding: 12px;
    background-color: #2C2C2C;
    color: #F5F5F5;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
	text-decoration: none;
}

.register-link-button:hover {
    background-color: #444444;
}


