@charset "UTF-8";

/* ページ全体 */
.unsuccessful {
    text-align: center;
    padding: 50px 20px;
}


/* メッセージ表示用 */
.not-found-message {
    font-size: 1.2rem;
    color: #b71c1c;
    background-color: #fff0f0;
    border: 2px solid #ef9a9a;
    border-radius: 12px;
    padding: 20px;
    margin: 30px auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.05);
}
.wrap{
	border-radius: 10px;
	margin: 20px 0;
	height: 130px;
}
.wrap.retry {
	border: 2px dotted #fc6577;
}
.wrap.back {
	border: 2px dotted #65c2fc;	
}
.wrap.retry .btn,
.wrap.back .btn {
    margin-left: 0;
}

/* ボタン共通スタイル */
.btn {
    display: inline-block !important;
	visibility: visible !important;
	opacity: 1 !important;
    background-color: #ff7043;
    color: white;
    padding: 10px 18px;
    /*margin: 10px 5px;*/
	margin-left: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #f4511e;
}

button[type="submit"] {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}


form {
}

p {
    font-size: 1.2rem;
    color: #333;
	margin: 5px;
}

