/*作成者 奥田*/

@charset "UTF-8";

/* プロフィールカード */
.profile-card{
	width: 90%;		/* 横幅を制限 */
	max-width: 600px;		/* 画面幅が広くても伸びすぎない */
	margin: 20px auto;		/* 上下に余白、左右中央寄せ */
	background-color: #f2f7e8;
	border: 3px solid #000;
	border-radius: 15px;
	padding: 15px;
}

.profile-top{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin-bottom: 10px;
}

.profile-icon{
	font-size: 20px;
	background-color: #ddd;
	border-radius: 50%;
	padding: 10px;
	margin-right: 15px;
}

.profile-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.profile-mid{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.profile-info div{
	background-color: #ddd;
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.tags{
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-bottom: 10px;
}

.tag{
	background-color: #e0e0e0;
	border-radius: 8px;
	padding: 5px 10px;
}

.block-btn{
	margin-left: 10px;
	background: black;
	color: white;
	border: none;
	padding: 4px 10px;
	border-radius: 8px;
}

.sad-face{
	margin-left: 10px;
	font-size: 20px;
}

.menu{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	max-width: 600px;
}

.menu-btn{
	background-color: #2b2b2b;
	color: white;
	border: none;
	padding: 12px;
	border-radius: 10px;
	font-size: 16px;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	width: 100%;
}

.menu-btn.danger{
	background-color: #e63946;
}

.icon{
	font-size: 18px;
}