/*作成者ナカムラ*/
/*追い修正　ヤブキ*/

@charset "UTF-8";

/*toppageのみヘッダーのスタイルちょい変えてる*/
#top-page .header{
	height:85px;
}
#top-page .header .header_inner{
	height:100%;
}
#top-page .header .header_inner .upper {
    display: none;
}
#top-page .header .header_inner .bottom .page-title{
	font-size:2em;
	margin-left: 0;
}
#top-page .header .header_inner .bottom .header-cow{
	display:none;
}


/* メインビジュアル */
.main-visual {
	background-image: url(/images/top.png);
	background-size: cover;
	background-position: top left;
	height: 400px;
	/* display: flex; 
	justify-content: center;
	align-items: center; */
	position: relative;
	z-index: 1;
	top: -50px;
}

/* ボタン */
.catch-copy {
  /*display: flex;
  justify-content: center;  横方向の中央揃え 
  align-items: center;      縦方向の中央揃え（必要なら） 
  margin: 40px 0;
  display: block;
  margin: -10px auto 40px;*/
}

.login-button {
	padding: 10px;
	display: block;
	width: 75%;
	margin: -30px auto 80px;
	background-color: #FF5722;
	overflow: hidden;
	border-radius: 8px;
	transition: background-color 0.3s ease;
}
.login-button a{
	display:block;
	width:100%;
	
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align:center;
	padding: 12px 24px;
}

.login-button:hover {
  background-color: #e64a19;
}

.steps {
  /*display: flex;
  justify-content: space-around;
  gap: 16px;
  padding: 40px 20px;
  background-color: #F8F8F8;
  flex-wrap: wrap;  レスポンシブ用 */
}

.step {
  /*text-align: center;
  background-color: #FFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 30%;
  min-width: 200px;
  box-sizing: border-box;*/
  display: block;
  width: 75%;
  margin: 0 auto 30px;
  text-align: center;
}
.step.follow:after{
	content: "▼";
	display: block;
	width: 100%;
	font-size: 1.2em;
	color: #aaa;
	margin: 20px auto 0;
}

/* スマホ用：1列表示 */
@media screen and (max-width: 768px) {
  .steps {
    flex-direction: column;
    align-items: center;
  }

  .step {
    width: 80%;
    margin-bottom: 20px;
  }
}

/* フッター */
footer {
  background-color: #FED01B;
  color:  #000;
  text-align: center;
  padding: 20px 0;
}
.footer-content img {
  height: 40px;
  vertical-align: middle;
}
.footer-content span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

