<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--meta head-->
	<div th:fragment="common-head(title)">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title th:text="${title}">Default Title</title>
		<!--共通css-->
		<!--導入？のページは仕様が違うようなのでログイン以降のページに適用-->
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
		<!--google font-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Sigmar&display=swap" rel="stylesheet">
	</div>
</head>
<body>
	<!--headder-->
	<div th:fragment="header(title)" class="header">
		<div class="header_inner">
			<div class="upper"><h2 class="logo"><a th:href="@{/home}" class="ff-sigma">Meat UP!</a></h2></div>
			<div class="bottom">
				<div class="page-title"><h1 class="ff-sigma" th:text="${title}">Default Title</h1></div>
				<div class="header-cow"><img th:src="@{/images/cow.png}" alt="ヘッダー牛さん"></div>
			</div>
		</div>
	</div>
	
	<!--footer-->
	<div th:fragment="footer" class="footer">
		<div class="footer_inner">
			<img class="footer-cow" th:src="@{/images/meat.png}" alt="フッター牛さん">
			<h2 class="ff-sigma">Meat UP!</h2>
		</div> 
	</div>
</body>
</html>