<!DOCTYPE html>
<html>

<head>
	<!--meta head-->
	<div th:fragment="common-head(title)">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title th:text="${title}">MatchingSearchBasedOnConditions</title>
		<!--共通css-->
		<!--導入？のページは仕様が違うようなのでログイン以降のページに適用-->
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/home.css}" rel="stylesheet" type="text/css">
		<!--google font-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Sigmar&display=swap"
			rel="stylesheet">
		

	</div>
</head>

<body>
	<!--headder-->
	<div th:fragment="header(title)" class="header">
		<div class="header_inner">
			<div class="upper"><h2 class="logo"><a th:href="@{/}" class="ff-sigma">Meat UP!</a></h2></div>
			<div class="bottom">
				<div class="page-title"><h1 class="ff-sigma" th:text="${title}">Default Title</h1></div>
				<div class="header-cow"><img th:src="@{/images/cow.png}" alt="ヘッダー牛さん"></div>
			</div>
		</div>
	</div>
	<!--マッチング状態バナー表示-->
	<div class="banner-container">
	    <div th:if="${hasMatchingRoom}" class="banner matched">
	        <a th:href="@{/matching/succeeded}" class="banner-link">✨マッチングが成立しています！チャットルームへ</a>
	    </div>
	    <div th:if="${isWaitingForMatch}" class="banner waiting">
	        <a th:href="@{/matching/waiting}" class="banner-link">🔍検索条件を保存しています。待機画面へ</a>
	    </div>
	</div>


	<h1>HOME</h1>

	<form action="/home" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<label>日付: <input type="date" name="matching_day" required></label><br>
		<label>時間帯:
			<select name="matching_time">
				<option value="昼">昼</option>
				<option value="夕方(16～19)">夕(16時～19時)</option>
				<option value="夜(19～)">夜(19時～)</option>
			</select>
		</label><br>
		<label>性別（希望）:
			<select name="matching_gender">
				<option value="true">同性希望</option>
				<option value="false">異性可</option>
			</select>
		</label><br>
		<label>年齢（最小）: <input type="number" name="matching_min_age" min="20" max="90" required></label><br>
		<label>年齢（最大）: <input type="number" name="matching_max_age" min="20" max="90" required></label><br>
		<label>希望人数:
			<select name="matching_member">
				<option value="true">2人で</option>
				<option value="false">複数人で</option>
			</select>
		</label><br>
		<label>エリア:
			<select name="matching_area">
				<option value="なんば">なんば</option>
				<option value="梅田">梅田</option>
				<option value="鶴橋">鶴橋</option>
				<option value="どこでもよい">どこでもよい</option>
			</select>

		</label><br><br>

		<button type="submit">検索</button>
	</form>

	<!--footer-->
	<div th:fragment="footer" class="footer">
		<div class="footer_inner">
			<img class="footer-cow" th:src="@{/images/meat.png}" alt="フッター牛さん">
			<h2 class="ff-sigma">Meat UP!</h2>
		</div> 
	</div>
	
	
	<script>
		document.querySelector("form").addEventListener("submit", function (event) {
			const minAge = document.querySelector("input[name='matching_min_age']").value;
			const maxAge = document.querySelector("input[name='matching_max_age']").value;

			if (parseInt(minAge) > parseInt(maxAge)) {
				alert("最小年齢は最大年齢以下でなければなりません。");
				event.preventDefault(); // フォーム送信をキャンセル
			}
		});
	</script>
</body>

</html>