<!--修正byナカムラ-->
<!--追い修正ヤブキ-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:with="title='LOG IN'">
		<div th:replace="common :: common-head(${title})"></div>
	</div>

	<!-- 各ページ用のcssはこの下に -->
	<link rel="stylesheet" href="/css/Login.css">
</head>

<body>
	<section th:with="title='LOG IN'" id="login">
		<header th:replace="common :: header(${title})"></header>

		<!-- フォーム -->
		<div class="login-center">
			<form th:action="@{/authentication}" method="post" th:object="${loginForm}" class="login-form">

				<div class="input-field">
					<label for="user_name" class="label">ユーザーネーム：</label>
					<input type="text" id="user_name" th:field="*{user_name}" class="input" />
					<div th:if="${#fields.hasErrors('user_name')}" th:errors="*{user_name}" class="error-message"></div>
				</div>

				<div class="input-field">
					<label for="user_pass" class="label">パスワード：</label>
					<input type="password" id="user_pass" th:field="*{user_pass}" class="input" />
					<div th:if="${#fields.hasErrors('user_pass')}" th:errors="*{user_pass}" class="error-message"></div>
				</div>

				<div class="button-wrapper">
					<button type="submit" class="login-button">ログイン</button>
				</div>
				<br>
				
				<div class="button-wrapper">
				    <a href="/register" class="register-link-button">新規登録</a>
				</div>

			</form>
		</div>

		<!-- フッター -->
		<footer th:replace="common :: footer"></footer>
	</section>
</body>
</html>
