<!DOCTYPE html>
<html>

<head>
	<!--meta head-->
	<div th:fragment="common-head(title)">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title th:text="${title}">MatchingNotFoundPage</title>
		<!--共通css-->
		<!--導入？のページは仕様が違うようなのでログイン以降のページに適用-->
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
		<!--google font-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Sigmar&display=swap"
			rel="stylesheet">
	</div>
</head>

<body>
	<!--headder-->
	<div th:fragment="header(title)" class="header">
		<div class="header_inner">
			<div class="upper">
				<h2 class="logo"><a th:href="@{/}" class="ff-sigma">Meat UP!</a></h2>
			</div>
			<div class="bottom">
				<div class="page-title">
					<h1 class="ff-sigma" th:text="${title}">マッチング待機中</h1>
				</div>
				<div class="header-cow"><img th:src="@{/images/cow.png}" alt="ヘッダー牛さん"></div>
			</div>
		</div>
	</div>


	<p>現在待機中です...<br>マッチング成立までしばらくお待ちください。</p>

	<a href="/matching/form" class="btn">条件を変更する</a>

	<!--footer-->
	<div th:fragment="footer" class="footer">
		<div class="footer_inner">
			<img class="footer-cow" th:src="@{/images/meat.png}" alt="フッター牛さん">
			<h2 class="ff-sigma">Meat UP!</h2>
		</div>
	</div>
	

	<script th:inline="javascript">
		const userId = /*[[${user_id}]]*/ 0;

		function checkMatchingStatus() {
			fetch(`/matching/check-status?userId=${userId}`)
				.then(response => response.json())
				.then(data => {
					if (data.matched && data.roomId) {
						window.location.href = `/Chatroom?room_id=${data.roomId}`;
					}
				})
				.catch(error => console.error("チェック失敗:", error));
		}

		// 5秒ごとに確認
		setInterval(checkMatchingStatus, 5000);
	</script>

</body>
</html>