<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<div th:with="title='NOT FOUNND'">
		<div th:replace="common :: common-head(${title})"></div>
	</div>
	<!-- 共通CSS -->
	<link rel="stylesheet" href="/css/MatchingNotFound.css">
</head>

<body>
	<section th:with="title='UNMATCHED'">
		<header th:replace="common :: header(${title})"></header>
		
	<div class="unsuccessful">
		<p>マッチングできませんでした...</p>
	
		<!--検索条件をDBに保存せず、「再検索」ボタン：ホームに戻る-->
		<div class="wrap retry">
			<p>検索条件を破棄して<br>新しい条件で検索しますか？</p>
		<form action="/retry" method="post">
	   	 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	    	<button type="submit" class="btn">再検索</button>
		</form>
		</div>
	
		<div class="wrap back">
		<!-- 検索条件をDBに保存したまま「リクエスト作成」ボタン：ホームに戻る-->
			<p>検索条件を保存して<br>マッチングのリクエストを作成しますか？</p>
		<a href="/home" class="btn" style="margin-left: 10px;">リクエストを作成</a>
		</div>
	</div>
	
	<!--検索条件をDBに保存せず、「ホームに戻る」ボタン-->
	<form action="/retry" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<button type="submit" class="btn">ホームに戻る</button>
	</form>
	
	<fotter th:replace="common :: footer"></fotter>
</section>

	<script th:inline="javascript">
		const userId = /*[[${user_id}]]*/ 0;

		function checkMatchingStatus() {
			fetch(`/check-status?userId=${userId}`)
				.then(response => response.json())
				.then(data => {
					if (data.matched && data.roomId && data.userCount >= 2) {
						window.location.href = `/chatroom?room_id=${data.roomId}`;
					}
				})
				.catch(error => console.error("チェック失敗:", error));
		}

		// 5秒ごとに確認
		setInterval(checkMatchingStatus, 5000);
	</script>

</body>

</html>