<!--作成者 奥田-->
<!--2025/5/13 現時点で未完成なのでブラウザ上でエラー出ます-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:with="title='MY PAGE'">
		<div th:replace="common :: common-head(${title})"></div>
	</div>
	
	<!--Mypage用のcss-->
	<link rel="stylesheet" href="/css/mypage.css">
</head>

<body>
	<section th:with="title='MY PAGE'">
		<header th:replace="common :: header(${title})"></header>
		
		<!--プロフィールカード-->
		<div class="profile-card">
			<!--トップ部分：ID/ユーザーネーム表示-->
			<div class="profile-top">
				<span class="user-id" th:text="|ID: ${userId}|">ID:</span>
				<span class="username" th:text="|ユーザーネーム: ${username}|">ユーザーネーム：</span>
			</div>
			
			<!--真ん中部分：プロフィール画像/ひとこと/好きな部位表示-->
			<div class="profile-mid">
				<div class="profile-icon">
					<img th:if="${profileImageBase64 != null}" 
						th:src="${profileImageBase64}" 
						class="profile-img" alt="画像">
				</div>
				<div class="profile-info">
					<div class="intro-comment" th:text="|ひとこと: ${introComment}|">ひとこと</div>
					<div class="favorite-part" th:text="|好きな部位: ${favoritePart}|">好きな部位</div>
				</div>
			</div>
		
			<div class="tags">
				<div class="tag" th:each="tag : ${tags}" th:text="${tag}">タグ</div>
				
			</div>
		
		</div>
	
		<nav class="menu">
			<form method="POST" action="/edit" style="display: inline;">
				<button class="menu-btn"><span class="icon">✏️</span>プロフィール編集</button>
			</form>
			
				<form th:action="@{/logout}" method="post" th:method="post" style="display: inline;">
				<button type="submit" class="menu-btn"><span class="icon">↩️</span>ログアウト</button>
			</form>
			
			<form method="POST" action="/account/delete" style="display: inline;">
				<button class="menu-btn danger"><span class="icon">⚠️</span>アカウント削除</button>
			</form>
		
		</nav>
		
		<!--フッター-->
		<footer th:replace="common :: footer"></footer>
	</section>
</body>
</html>