<!--作成者ナカムラ-->
<!--追い修正ヤブキ-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:with="title='TOP PAGE'">
		<div th:replace="common :: common-head(${title})"></div>
	</div>

	<!-- 各ページ用のcssはこの下に -->
	<link rel="stylesheet" href="/css/TopPage.css">
</head>
<body>
	<section th:with="title='Meat UP!'" id="top-page">
		<header th:replace="common :: header(${title})"></header>
		
		<!-- 修正前のデータまま --->
		<main>
		    <div class="main-visual">
		      
		    </div>
			
			<!--<div class="catch-copy">-->
				<!--<a href="/login" class="login-button">焼肉、一緒に行こ！</a>-->
				<div class="login-button">
					<a href="/login">ログイン</a>
				</div>
		    <!--</div>-->

		    <div class="steps">
		      <div class="step follow">
		        <h2>STEP 1</h2>
		        <p>まずは登録！プロフィールを設定しよう</p>
		      </div>
		      <div class="step follow">
		        <h2>STEP 2</h2>
		        <p>日時、ふたりで、みんなでワイワイなど行きたい条件を選んでマッチング</p>
		      </div>
		      <div class="step">
		        <h2>STEP 3</h2>
		        <p>マッチングしたらチャットルームへ あとは焼肉へGO！</p>
		      </div>
		    </div>
		  </main>
		
		<!-- フッター -->
		<footer th:replace="common :: footer"></footer>
	</section>
</body>
</html>
